.matrix {
  display: inline-block;
}

.matrix .row {
  display: block;
  text-align: left;
  white-space: nowrap;
}

.matrix .row:first-child::before, .matrix .row:last-child::before {
  content: '';
  margin-left: 20px;
  transition: margin-left linear 0.5s;
}

.matrix .row:first-child.expanded::before, .matrix .row:last-child.expanded::before {
  margin-left: 10px;
}
