.cell {
  height: 10vh;
  width: 10vh;
  display: inline-block;
  margin: 5px;
}

.style1 {
  background: yellow;
}

.style2 {
  background: #673ab7a3;
}

.style1 > .cellP {
  float: left;
  display: block;
  width: 100%;
  text-align: center;
  /* height: 100%; */
  vertical-align: middle;
  margin-top: 40%;
  color:#fff;

}

.style2 > .cellP {
  float: left;
  display: block;
  width: 100%;
  text-align: center;
  /* height: 100%; */
  vertical-align: middle;
  margin-top: 40%;
  color:#000;
}
